{{- if .Values.worker.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-rabbitmq-credentials
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  host: {{ .Values.rabbitmq.host | quote }}
  username: {{ .Values.rabbitmq.username | quote }}
  password: {{ .Values.rabbitmq.password | quote }}
---
apiVersion: keda.sh/v1alpha1
kind: TriggerAuthentication
metadata:
  name: {{ .Release.Name }}-rabbitmq
  namespace: {{ .Values.namespace }}
spec:
  secretTargetRef:
  - parameter: host
    name: {{ .Release.Name }}-rabbitmq-credentials
    key: host
  - parameter: username
    name: {{ .Release.Name }}-rabbitmq-credentials
    key: username
  - parameter: password
    name: {{ .Release.Name }}-rabbitmq-credentials
    key: password
{{- end }}
