image:
  registry: docker.io
  repository: bitnami/rabbitmq
  tag: 3.11.9-debian-11-r1
auth:
  username: admin
  password: 3dsiiOa8Smk1nZJedeDEaNhpDjyL22e2
  securePassword: false
  erlangCookie: 5v936fnuCjoaJxDk1ns0LhXDPlPF7phV
replicaCount: 3
resources:
  requests:
    cpu: 1400m
    memory: 2800Mi
  limits:
    cpu: 2000m
    memory: 2800Mi
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: "environment"
              operator: In
              values: ["backend-production"]
tolerations:
  - key: backend-production
    operator: Exists
    effect: NoSchedule

persistence:
  storageClass: "gp3"
  size: 10Gi

pdb:
  create: true
  minAvailable: 2

readinessProbe:
  enabled: false

customReadinessProbe:
  exec:
    command:
      - /bin/bash
      - -ec
      - rabbitmq-diagnostics -q check_running && rabbitmq-diagnostics -q alarms
  failureThreshold: 3
  initialDelaySeconds: 10
  periodSeconds: 30
  successThreshold: 1
  timeoutSeconds: 20

ingress:
  enabled: true
  ingressClassName: "nginx-infra"
  hostname: rabbitmq.sistemagrupoonline.com.br
  hosts:
    - rabbitmq.sistemagrupoonline.com.br
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/whitelist-source-range: "189.7.9.152/32, 34.232.119.242/32, 23.21.52.8/32"
  tls: true
  certManager: true

extraSecretsPrependReleaseName: true
extraSecrets:
  load-definition:
    load_definition.json: |
      {
        "rabbit_version": "3.11.9",
        "rabbitmq_version": "3.11.9",
        "vhosts": [
          {"name": "/"},
          {"name": "production"}
        ],
        "permissions": [
          {"user": "admin", "vhost": "/", "configure": ".*", "write": ".*", "read": ".*"},
          {"user": "admin", "vhost": "production", "configure": ".*", "write": ".*", "read": ".*"}
        ],
        "queues": [
          {"name": "api-stock-price-fila", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "att-img", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "att-preco-estoque-b2w", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "att-preco-estoque-bling-v3", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "att-preco-estoque-magalu", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "att-preco-estoque-meli", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "att-preco-estoque-shopee", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "att-preco-estoque-shopify", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "att-preco-estoque-via", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "att-preco-frete", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "att-token-bling-v3", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "att-token-magalu", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "att-token-meli", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "att-token-shopee", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "cad-prod-b2w-ia", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "cad-prod-bling-ia", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "cad-prod-magalu-ia", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "cad-prod-meli-ia", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "cad-prod-shopee-ia", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "cad-video-shopee", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "check-status-pending-meli", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "controle-estoque", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "executa-cron", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-etiquetas-b2w", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-etiquetas-bling", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-etiquetas-magalu", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-etiquetas-meli", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-etiquetas-meli-coleta", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-etiquetas-shopee", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-gambi-shopee", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-order-meli", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-order-skyhub", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-order-status-b2w", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-orders-b2w-all", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-orders-magalu-all", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-orders-shopify", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-pedidos-magalu", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-pedidos-shopee-v2", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-pedidos-shopee-v2-all", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-performance-shopee", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-prod-b2w", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-prod-b2w-fila", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-prod-magalu", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-prod-magalu-fila", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-prod-meli", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-prod-meli-item", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-prod-meli-item-import", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-prod-shopee", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "get-status-meli-order", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "insert-fila-preco", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "remove-anuncio-meli", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "remove-anuncio-shopee", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "remove-produto-excluido", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "video-busca", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}},
          {"name": "whatsapp-notifications", "vhost": "production", "durable": false, "auto_delete": false, "arguments": {"x-queue-type": "classic"}}
        ],
        "policies": [
          {
            "name": "ha-all",
            "pattern": ".*",
            "vhost": "/",
            "apply-to": "all",
            "definition": {
              "ha-mode": "all",
              "ha-sync-batch-size": 81920,
              "ha-sync-mode": "automatic"
            }
          },
          {
            "name": "ha-all",
            "pattern": ".*",
            "vhost": "production",
            "apply-to": "all",
            "definition": {
              "ha-mode": "all",
              "ha-sync-batch-size": 81920,
              "ha-sync-mode": "automatic"
            }
          }
        ]
      }

loadDefinition:
  enabled: true
  existingSecret: rabbitmq-load-definition

extraConfiguration: |-
  load_definitions = /app/load_definition.json
  log.default.level = error
  log.file.level = error
  log.console.level = error

memoryHighWatermark:
  enabled: true
  type: "relative"
  value: 0.5
