
global:
  security:
    allowInsecureImages: true

image:
  registry: docker.io
  repository: library/rabbitmq
  tag: "3-management"
  pullPolicy: IfNotPresent
  debug: true

# Desabilitar init containers específicos da Bitnami que falhariam com imagem oficial
volumePermissions:
  enabled: false

# Ajustar segurança para permitir rodar como root padrão
containerSecurityContext:
  enabled: false
podSecurityContext:
  enabled: false

auth:
  username: admin
  password: adminpassword
  erlangCookie: secretcookie

replicaCount: 1

resources:
  requests:
    cpu: 50m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

persistence:
  enabled: false
