
auth:
  rootPassword: "root"
  database: "tudoonline"
  username: "tudoonline"
  password: "localpassword"

primary:
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
    limits:
      cpu: 1000m
      memory: 512Mi
  persistence:
    enabled: false
