apiVersion: v1
kind: PersistentVolume
metadata:
  name: goolhub-api-files-pv
spec:
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs
  nfs:
    server: 217.216.82.83
    path: /mnt/nfs/goolhub-files
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: goolhub-api-files
  namespace: production
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: nfs
