
auth:
  enabled: true
  password: "changeMeRedis"

master:
  livenessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 5
  readinessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 5
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 1Gi

  persistence:
    enabled: true
    storageClass: "local-storage"
    size: 10Gi
    accessMode: ReadWriteOnce

  configuration: |-
    maxmemory 800mb
    maxmemory-policy allkeys-lru

replica:
  replicaCount: 0

architecture: standalone

metrics:
  enabled: true
  serviceMonitor:
    enabled: false
