
auth:
  enabled: true
  password: "redis"

master:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 256Mi
  persistence:
    enabled: false

replica:
  replicaCount: 0
